name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/project
            git pull
            kubectl set image deployment/project-api \
              api=${{ secrets.DOCKERHUB_USERNAME }}/project-api:${{ github.sha }}
            kubectl rollout status deployment/project-api
